<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/login.css">
  <title>Cadastrar</title>
</head>

<body>
  <section class="ftco1-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="wrap d-md-flex">
            <div class="img" style="
                background-image: url(/imagens/Faça\ agora\ o\ seu\ login!.png);"></div>
            <div class="login-wrap p-5 p-md-5">
              <div class="d-flex">
                <div class="w-100">
                  <h3 class="mb-2">Cadastrar um pet</h3>
                </div>
              </div>


              <form action="/cadastrarPet" class="signin-form" method="POST" enctype="multipart/form-data">
                <div class="form-group mb-0">
                  <label class="label" for="nome">Nome</label>
                  <input type="text" class="form-control" placeholder="Digite aqui..." name="nome" required />
                </div>

                <div class="form-group mb-0" id="genero">
                  <label class="label" for="nome">Gênero</label>
                  <div>
                    <input class="ml-1 mr-1" name="genero" type="radio" value="Macho" <%='Macho' ? 'selected' : ''
                      %>>Macho
                    <input class="ml-1 mr-1" name="genero" type="radio" value="Fêmea" <%='Fêmea' ? 'selected' : ''
                      %>>Fêmea
                  </div>
                </div>

                <div class="form-group mb-0 " id="porte">
                  <label class="label" for="nome">Porte</label>
                  <div>
                    <input class="ml-1 mr-1" name="porte" type="radio" value="Grande" <%='Grande' ? 'selected' : ''
                      %>>Grande
                    <input class="ml-1 mr-1" name="porte" type="radio" value="Médio" <%='Médio' ? 'selected' : ''
                      %>>Médio
                    <input class="ml-1 mr-1" name="porte" type="radio" value="Médio" <%='Pequeno' ? 'selected' : ''
                      %>>Pequeno
                  </div>
                </div>

                <div class="form-group mb-0">
                  <label class="label" for="localizacao">Localização</label>
                  <input type="text" class="form-control" placeholder="Digite aqui..." name="localizacao" list="cidades"
                    required />
                  <datalist id="cidades">
                    <script>
                      document.addEventListener('DOMContentLoaded', function () {
                        const inputLocalizacao = document.querySelector('input[name="localizacao"]');
                        const datalistCidades = document.getElementById('cidades');

                        // Carregue o arquivo JSON localmente
                        fetch('cidades-brasil.json')
                          .then(response => response.json())
                          .then(data => {
                            // Itera sobre a lista de cidades e adiciona as opções ao datalist
                            data.cidades.forEach(cidade => {
                              const option = document.createElement('option');
                              option.value = cidade;
                              datalistCidades.appendChild(option);
                            });
                          })
                          .catch(error => console.error('Erro ao carregar cidades:', error));
                      });
                    </script>
                  </datalist>
                </div>




                <div class="form-group mb-0">
                  <label class="label" for="especie">Espécie</label>
                  <input type="text" list="especies" class="form-control" placeholder="Digite aqui..." name="especie"
                    required />
                  <datalist id="especies">
                    <option value="Cachorro"></option>
                    <option value="Gato"></option>
                    <option value="Rammstein"></option>
                    <option value="Galinha"></option>
                    <option value="Cavalo"></option>
                  </datalist>
                </div>

                <div class="form-group mb-0">
                  <label class="label" for="idade">Idade(se souber)</label>
                  <input type="text" list="idd" class="form-control" placeholder="Digite aqui..." name="idade"
                    required />

                  <datalist id="idd">
                    <option value="1 ano"></option>
                    <option value="2 anos"></option>
                    <option value="3 anos"></option>
                    <option value="4 anos"></option>
                    <option value="5 anos"></option>
                  </datalist>
                </div>


                <div class="form-group mb-0" id="vacina_obrigatoria">
                  <div>
                    <label class="label" for="vacina_obrigatoria">Vacinas</label>
                    <input type="text" class="form-control" placeholder="Digite aqui..." name="vacina_obrigatoria" required />
                  </div>

                </div>

                <script>
                  var selectVacina = document.getElementById("vacina_obrigatoria");
                  var divOutraVacina = document.getElementById("outraVacina");

                  selectVacina.addEventListener("change", function () {
                    if (selectVacina.value === "outra(s)") {
                      divOutraVacina.style.display = "block";
                    } else {
                      divOutraVacina.style.display = "none";
                    }
                  });
                </script>

                <div class="form-group mb-0" id="objetivo">
                  <label class="label" for="nome">Objetivo</label>
                  <div name="objetivo">
                    <input class="ml-1 mr-1" type="radio" name="objetivo" value="Adoção" <%='Adoção' ? 'selected' : ''
                      %>>Adoção
                    <input class="ml-1 mr-1" type="radio" name="objetivo" value="Apadrinhamento" <%='Apadrinhamento'
                      ? 'selected' : '' %>>Apadrin.
                    <input class="ml-1  mr-1" type="radio" name="objetivo" value="Desaparecido" <%='Desaparecido'
                      ? 'selected' : '' %>>Desapar.
                  </div>
                </div>


                <div class="form-group mb-0">
                  <label class="label" for="descricao">Descrição</label>
                  <input type="text" class="form-control" placeholder="Digite aqui..." name="descricao" required />
                </div>

                <div class="form-group mb-0">
                  <label class="label" for="imagem">Selecione uma imagem:</label>
                  <input type="file" name="file" id="imagem" required>
                  <div class="pt-3">
                    <input type="submit" value="Enviar" class="form-control btn btn-primary rounded submit px-3">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('layouts/default/Footer') %>