<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <% parceiro.forEach(function(parceiro) { %>
        <div class="col mb-5">
            <div class="card h-100">
                <div class="card-body p-4">
                    <div class="text-center">
                        <img src="/<%= parceiro.caminho_imagem %>" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 20vw;" />

                        <h5 class="fw-bolder text-start">
                            <%= parceiro.nome %>
                        </h5>
                        <h6 class="text-start">
                            <%= parceiro.descricao %>
                        </h6>
                        <h6 class="text-start">
                            <%= parceiro.endereco %>
                        </h6>
                        <h6 class="text-start">
                            <%= parceiro.telefone %>
                        </h6>
                        <h6 class="text-start">
                            <%= parceiro.servico_oferecido %>
                        </h6>
                        <h6 class="text-start">
                            <%= parceiro.horario_funcionamento %>
                        </h6>
                        <h6 class="text-start">
                            <%= parceiro.rede_social %>
                        </h6>
                    </div>
                </div>
                <% if (user && user.role==='admin' ) { %>
                    <a href="/parceiros/<%= parceiro.id_parceiro %>/editar">Editar</a>
                    <% } %>

                        <% if (user && user.role==='admin' ) { %>
                            <form action="/parceiros/<%= parceiro.id_parceiro %>/excluir" method="POST"
                                style="display: inline;">
                                <button type="submit">Excluir</button>
                            </form>
                            <% } %>
            </div>
        </div>
        <% }) %>


</body>

</html>