<%- include('layouts/default/Navbar') %>

  <div class="container" style="padding-top: 100px">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <% user.forEach(function(user) { %>
                  <img src="/<%= user.imagem %>" style="height: 18rem; width: 18rem; object-fit: cover;" onerror="this.src='/img/perfilSemFoto.png';" alt="Sem foto" class="img-fluid mt-4 mb-2" />
                  <% }) %>
                    <div class="mt-3">
                      <% user.forEach(function(user) { %>
                        <h3 id="titulo" class="row d-flex align-items-center">
                          <%= user.nome %>
                        </h3>

                        <% if (user.id_user==userId2) { %>
                          <div class="col-sm-12 d-flex justify-content-between mt-3">
                            <a class="btn" style="background-color: #e3b04b; color: #fff;"
                              href="/perfil/<%= user.id_user %>/editar">Editar</a>
                            <form action="/logout">
                              <input class="btn btn-danger" type="submit" value="Sair" />
                            </form>

                          </div>
                          <% } %>
                            <% }) %>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <% user.forEach(function(user) { %>
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Nome completo</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.nome %>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.email %>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Telefone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.telefone %>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Biografia</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.biografia %>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
              <div class="row mx-0 gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
                <% listaPets.forEach(function(pet) { %>
                  <a class="mx-0" style="text-decoration: none"
                    href="/pets/<%= pet.id_animal %>/<%= pet.user_id_user %>">
                    <div class="card h-100">
                      <img class="card-img-top" src="/<%= pet.caminho_imagem %>" />
                      <div class="card-body">
                        <div class="text-center">
                          <h5 class="fw-bolder text-start">
                            <%= pet.nome %>
                          </h5>
                          <h6 class="text-start">
                            <%= pet.localizacao %>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </a>
                  <% }) %>
              </div>
        </div>
      </div>
    </div>
  </div>

<%- include('layouts/default/Footer') %>