<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>PetFlix</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="./css2/sobre.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <img src="./img/navimage.png" />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="color: #000; text-decoration: underline"
              >
                Páginas
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/">Início</a></li>
                <li><a class="dropdown-item" href="/sobre">Sobre</a></li>
                <li>
                  <a class="dropdown-item" href="/parceiros">Parceiros</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/conteudos">Conteúdos</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/cadastrarPet"
                    >Cadastrar pet</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/pets"
                style="color: #000; text-decoration: underline"
                >Adotar</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/perfil"
                style="color: #000; text-decoration: underline"
                >Perfil</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./img/Tela adote.png" class="d-block w-100" />
        </div>
      </div>
    </div>

    <div class="container">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
    <div class="col">
        <label for="especie" class="form-label">Espécie:</label>
        <select id="filtroEspecie" class="form-select form-select-sm">
            <option value="">Todas</option>
            <option value="Cachorro">Cachorro</option>
            <option value="Gato">Gato</option>
            <!-- Adicione outras opções de espécie conforme necessário -->
        </select>
    </div>

    <div class="col">
        <label for="idade" class="form-label">Idade:</label>
        <select id="filtroIdade" class="form-select form-select-sm">
            <option value="">Todas</option>
            <option value="1">1 ano</option>
            <option value="2">2 anos</option>
            <option value="3">3 anos</option>
            <!-- Adicione outras opções de idade conforme necessário -->
        </select>
    </div>

    <div class="col">
        <label for="porte" class="form-label">Porte:</label>
        <select id="filtroPorte" class="form-select form-select-sm">
            <option value="">Todos</option>
            <option value="Pequeno">Pequeno</option>
            <option value="Médio">Médio</option>
            <option value="Grande">Grande</option>
            <!-- Adicione outras opções de porte conforme necessário -->
        </select>
    </div>

    <div class="col">
        <label for="localizacao" class="form-label">Localização:</label>
        <select id="filtroLocalizacao" class="form-select form-select-sm">
            <option value="">Todas</option>
            <option value="Sapiranga - RS">Sapiranga - RS</option>
            <!-- Adicione outras opções de localização conforme necessário -->
        </select>
    </div>

    <div class="col">
        <label for="genero" class="form-label">Gênero:</label>
        <select id="filtroGenero" class="form-select form-select-sm">
            <option value="">Todos</option>
            <option value="Macho">Macho</option>
            <option value="Fêmea">Fêmea</option>
            <!-- Adicione outras opções de gênero conforme necessário -->
        </select>
    </div>

    <div class="col d-flex flex-column justify-content-center align-items-center px-0 me-0">
        <button type="button" onclick="aplicarFiltros()" class="btn btn-outline-dark bg-info">Aplicar</button>
    </div>

    <div class="col d-flex flex-column justify-content-center align-items-center px-0 ms-0">
        <button type="button" onclick="limparFiltros()" class="btn btn-outline-dark bg-info">Limpar</button>
    </div>
</div>
    
        <!-- Adicione outras linhas semelhantes para os demais filtros --> 
    </div>
    <section class="py-5">

        <div
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
          id="listaAnimais"
        >
          <% listaPets.forEach(function(pet) { %>
          <div class="col mb-5">
            <div
              class="card h-100"
              data-especie="<%= pet.especie %>"
              data-idade="<%= pet.idade %>"
              data-porte="<%= pet.porte %>"
              data-localizacao="<%= pet.localizacao %>"
              data-genero="<%= pet.genero %>"
            >
              <img
                class="card-img-top"
                src="/<%= pet.caminho_imagem %>"
                alt="..."
              />
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder text-start"><%= pet.nome %></h5>
                  <h6 class="text-start"><%= pet.localizacao %></h6>
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a
                    class="btn btn-outline-dark mt-auto bg-info"
                    href="/pets/<%= pet.id_animal %>/<%= pet.user_id_user %>"
                    >Quero Adotar</a
                  >
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </section>

    <nav class="navbar navbar-expand-lg mt-5" style="background-color: #260d33">
      <div class="container-fluid">
        <img style="width: 25vh; margin-left: 5vw" src="./img/logofooter.png" />
        <div
          class="collapse navbar-collapse"
          id="navbarNavDropdown"
          style="margin-left: 25vw"
        >
          <ul id="footer" class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active text-light"
                aria-current="page"
                href="/pets"
                style="color: #000"
                >Topo</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active text-light"
                aria-current="page"
                href="/pets"
                style="color: #000"
                >Adotar</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/" style="color: #000"
                >Início</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>

    <script>
      // Função para aplicar filtros
      function aplicarFiltros() {
        const especieSelecionada =
          document.getElementById("filtroEspecie").value;
        const idadeSelecionada = document.getElementById("filtroIdade").value;
        const porteSelecionado = document.getElementById("filtroPorte").value;
        const localizacaoSelecionada =
          document.getElementById("filtroLocalizacao").value;
        const generoSelecionado = document.getElementById("filtroGenero").value;

        const listaAnimais = document.getElementById("listaAnimais");
        const todosOsPets = listaAnimais.querySelectorAll(".card");

        todosOsPets.forEach(function (pet) {
          const petEspecie = pet.getAttribute("data-especie");
          const petIdade = pet.getAttribute("data-idade");
          const petPorte = pet.getAttribute("data-porte");
          const petLocalizacao = pet.getAttribute("data-localizacao");
          const petGenero = pet.getAttribute("data-genero");

          if (
            (especieSelecionada === "" || petEspecie === especieSelecionada) &&
            (idadeSelecionada === "" || petIdade === idadeSelecionada) &&
            (porteSelecionado === "" || petPorte === porteSelecionado) &&
            (localizacaoSelecionada === "" ||
              petLocalizacao === localizacaoSelecionada) &&
            (generoSelecionado === "" || petGenero === generoSelecionado)
          ) {
            pet.style.display = "block";
          } else {
            pet.style.display = "none";
          }
        });
      }

      function limparFiltros() {
        document.getElementById("filtroEspecie").value = "";
        document.getElementById("filtroIdade").value = "";
        document.getElementById("filtroPorte").value = "";
        document.getElementById("filtroLocalizacao").value = "";
        document.getElementById("filtroGenero").value = "";

        // Chame a função para aplicar os filtros novamente (para exibir todos os animais)
        aplicarFiltros();
      }
    </script>
  </body>
</html>
